.cards{
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .cards{
  max-width: 91.75%;
  }
}

@media screen and (max-width: 767px) {
  .cards{
  margin: 0;
  max-width: 100%;
  }
}


