.card__paragraphs{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .card__paragraphs{
  display: block;
  width: 90%;
  margin: 0 auto;
  }
}
