@font-face {
  font-family: Inter;
  src: url(../../../fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: normal;
}
.cover__subtitle {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */
text-align: center;
color: #FFF;
max-width: 360px;
margin:0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    text-align: center;
    max-width: 288px;

  }
}
