.header__logo{
  min-width: 176px;
  min-height: 52px;
  width: 100%;
  position: absolute;
  top: 28px;
  left: 46px;
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .header__logo {
    left: 24px;
}
}

@media (max-width: 767px){
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
