.header__logo {
  min-width: 176px;
  min-height: 52px;
  background-size: contain;
  position: absolute;
  top: 28px;
  left: 46px;
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    left: 24px;
}
}

@media (max-width: 767px) {
  .header__logo {
    left: 16px;
    right: 16px;
    max-width: 142px;
    max-height: 42px;
  }
}
