.travel__picture{
  display: block;
  max-width: 984px;
  max-height: 615px;
  margin: 0 auto;
  object-fit: contain;
}

@media screen and (max-width: 1280px)
{
  .travel__picture{
    max-width: 928px;
  }

}

@media screen and (max-width: 1024px)
{
  .travel__picture{
    max-width: 100%;
  }

}

