.galery{
  max-width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  justify-content: center;
  padding-top: 92px;
}

@media (max-width: 1279px)
{.galery{
  max-width: 91%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 14px;
  padding-top: 92px;
}
}

@media (max-width: 1023px)
{.galery{
  max-width: 93.75%;
  grid-template-columns: repeat(auto-fill, 352px);
  padding-top:88px;
}
}

  @media (max-width: 767px)
{.galery{
  max-width: 91%;
  grid-template-columns: repeat(auto-fill, 288px);
  padding-top: 64px;
}
}
