@font-face {
  font-family: Inter;
  src: url(../../../fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: 900;
}
.intro__text {
  color: #FFF;
  margin: 0;
  max-width: 690px;
  left: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  }

  @media (max-width: 1023px) {
    .intro__text {
  max-width: 93.75%;
  margin: 0 auto;
}
}
  @media (max-width: 767px) {
    .intro__text {
  max-width: 90%;
}
}


