@import url(../../../fonts/Inter/inter.css);
.travel__text{
  color: #FFF;
  margin: 0;
  max-width: 784px;
  left: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  }

  @media (max-width: 1023px)
{.travel__text{
  max-width: 93.75%;
  margin: 0 auto;
}
}
  @media (max-width: 767px)
{.travel__text{
  max-width: 90%;
}

}


